<h1 class='homepage'>Shop by category.</h1>
<p class='homepage p1'>Shop what you want right now via our curated marketplace.</p>

<div class='gridcellhome'>

  <div class='homeimagediv womenhome'>Womenswear<br><a href="/pages/women/">
    <img class='homeimage' src="https://cdn.shopify.com/s/files/1/0162/2116/articles/summer_fashion_2048x2048.jpg" alt=""></a>

  </div>

  <div class='homeimagediv menhome'>  Menswear<br><a href="/pages/men/">
    <img class='homeimage' src="https://i.imgur.com/uDO6xGl.jpg" alt=""></a>

  </div>

  <div class='homeimagediv'> Kidswear<br><a href="/pages/kids/">
    <img class='homeimage' src="https://i.imgur.com/s63eKFC.jpg" alt=""></a>

  </div>

  <div class='homeimagediv'>Electronics<br>
    <img class='homeimage' src="https://i.imgur.com/uSxhjIQ.jpg" alt="">
  </div>

  <div class='homeimagediv'>Beauty<br>
    <img class='homeimage beautyhome' src="https://i.imgur.com/XQznaCK.jpg" alt="">
  </div>

  <div class='homeimagediv'>Sports<br>
    <img class='homeimage sportshome' src="https://i.imgur.com/jfgGlu5.jpg" alt="">
  </div>

  <div class='homeimagediv'>Toys<br>
    <img class='homeimage toyshome' src="https://i.imgur.com/NIOtYf7.jpg" alt="">
  </div>

  <div class='homeimagediv'> Brands<br>
    <img class='homeimage brandshome' src="https://i.imgur.com/aKVqp9z.jpg" alt="">
  </div>
</div>
